body {
    padding-top:6em;
    font-family: 'Ubuntu', sans-serif;
    /*background-color: #272c31;*/
    background-color: #272c31;

}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color:#CFB67D;
}

h1 {
    font-size: 4em;
}

p, li, label {
    font-size: 17px;
    color:#CFB67D;
}

.pagination-text {
    color:#CFB67D;
}

.navbar {
    background-color: #000;
}

.navbar-nav a {
    color:#CFB67D !important;
}

.navbar-default .navbar-header > a {
    color:#CFB67D;
}

.navbar-default .navbar-header > a:hover, .navbar-default .navbar-header > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #CFB67D;
    color: #272c31 !important;
    text-shadow: none;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #272c31 !important;
}

.dropdown-menu a {
    color:#272c31;
}

.well,  .panel-body{
    background-color: #434a54;
}

.intro-section {
    height: 100%;
    background: url(/img/Vinyl_groove.jpg) no-repeat center center;
}

.intro-section h1 {
    color:#ffffff;
    text-shadow: 2px 2px #000;
    font-size:6em;
}

.records-section {
    height: 100%;
    padding-bottom: 800px;
    background: url(/img/vintage-music-record.jpg) no-repeat top center;
}

.records-section h1 {
    color:#272c31;
    font-size:7em;
}

.records-section p {
    color:#272c31;
}

.artists-section  {
    height: 100%;
    padding-bottom: 800px;
    background: url(/img/vintage-music-record.jpg) no-repeat center center;
}

.artists-section h1 {
    color:#272c31;
    font-size:7em;
}

.artists-section p {
    color:#272c31;
}

.about-section  {
    height: 100%;
    padding-bottom: 800px;
    background: url(/img/Vinyl_groove.jpg) no-repeat bottom center;
}

.about-section h1 {
    color:#fff;
    font-size:4em;
}

.about-section p {
    color:#CFB67D;
}

.sidebar {
    border-left:solid 2px #9d9d9d;
    height: 100%;
}

.sidebar li {
    font-size:1.2em;
}

.modal-body, .modal-header, .modal-footer {
    background-color: #272c31;
}

footer {
    padding:3em;
    padding-top:7em;
    padding-bottom: 9em;
    border-top:solid 1px #adadad;
    background-color: #000;
    color:#CFB67D;
}

a {
    color:#ffffff;
}

a:hover {
    color:#CFB67D;
    text-shadow: 1px 1px #000;
    text-decoration: underline;
}

.btn.sharp {
    border-radius:0;
}

.btn {
    padding: 14px 40px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn:hover, .btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
    text-shadow: none;
}

.btn-primary {
    background: #CFB67D;
    color: #000;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #F5E2B6;
    color: #000;
    text-shadow: none;
}

.btn-primary:active, .btn-primary.active {
    background: #AD9050;
    box-shadow: none;
}

.pag-btn {
    padding: 10px;
}

@media (max-width: 765px) {

    body{
        padding-top:3.5em;
    }
    .intro-section {
        padding-top: 1em;
    }

}


