body {
    padding-top:6em;
    font-family: 'Ubuntu', sans-serif;
    /*background-color: #272c31;*/
    background-color: #272c31;

}

h1, h2, h3, h4 {
    font-family: 'Oswald', sans-serif;
    color:#ccd1d9;
}

h1 {
    font-size: 4em;
}

p, li, label {
    font-size: 17px;
    color:#ffffff;
}

.pagination-text {
    color:#ffffff;
}

.navbar {
    background-color: #265e70;
}

.navbar-nav a {
    color:#ffffff !important;
}

.navbar-default .navbar-header > a {
    color:#ffffff;
}

.navbar-default .navbar-header > a:hover, .navbar-default .navbar-header > a:focus,
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #4ebbdd;
    color: #272c31 !important;
}

.navbar-default .navbar-nav .dropdown-menu > li > a {
    color: #272c31 !important;
}

.dropdown-menu a {
    color:#272c31;
}

.well,  .panel-body{
    background-color: #434a54;
}

.into-section {
    background: url(../img/intro/intro4.jpg) no-repeat center center;
}

.intro-section, .records-section, .artists-section  {
    background-color: #272c31;
}

.sidebar {
    border-left:solid 2px #9d9d9d;
    height: 100%;
}

.sidebar li {
    font-size:1.2em;
}

.modal-body, .modal-header, .modal-footer {
    background-color: #272c31;
}

footer {
    padding:3em;
    padding-top:7em;
    padding-bottom: 9em;
    margin-top:15em;
    border-top:solid 1px #adadad;
    background-color: #265e70;
    color:#ccd1d9;
}

a {
    color:#ffffff;
}

a:hover {
    color: #4ebbdd;
}

footer a {
    color:#ccd1d9;
}

footer a:hover {
    color: #4ebbdd;
}

@media (max-width: 400px) {
  body{
      padding-top:3.5em;
  }
}


